<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ quizData.selectedQuizType }}
    </ion-title>
    <ion-buttons *ngIf="closeButton" class="modal-close-button" (click)="dismiss()" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>
  <div class="d-flex justify-content-between align-items-center" style="height: 85%">
    <div class="confirmation-modal-images" *ngIf="withChildrenImage">
      <ion-img src="./assets/quizzes/children.png"></ion-img>
    </div>
    <div class="text-center flex-grow-1">
      <h5>{{ quizData.startTitle }}</h5>
      <p class="mt-3 mb-0">Quiz selected: {{ quizData.selectedQuizType }}</p>
      <p class="mb-0">Time: {{ quizData.time }}</p>
      <p class="mt-3"> {{ quizData.startSubTitle }} </p>
    </div>
    <div class="confirmation-modal-images" style="max-width: 33%">
      <ion-img [src]="appParams.makeStaticUrl(quizData.quizMonster)"></ion-img>
    </div>
  </div>
  <div>
    <ion-button expand="full" color="primary" (click)="dismiss(true)">{{ buttonText }}</ion-button>
  </div>
  <audio #audio *ngIf="quizData.audioFile" [src]="appParams.makeStaticUrl(quizData.audioFile)"></audio>
</ion-content>
