ion-tab-button.sub-fundamentals-links.active{
  background: #A5714E!important;
  color: #fff;
}
.fundamental-item-image{
  width: 100%;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
ion-card-title{
  font-size: 14px;
}
ion-card-subtitle{
  font-size: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}