ion-content{
  --background: #fff url('../../../assets/quizzes/quizz-bg.jpg') no-repeat center center / 100%;
}
.quiz-clouds{
  width: 150px
}
.bottom-part {
  width: 100%;
  height: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 3%;
}
.children-image{
  width: 150px
}
.quiz-monsters{
  width: 100px;

  &.locked{
    filter: blur(6px);
    -webkit-filter: blur(6px);
  }
  .quiz-title{
    text-align: center;
    color: #000;
    font-weight: bold;
  }

  ion-img{
    height: 100%;
  }
}

.exit-door{
  margin-left: 15px;
  width: 40px;
}
