ion-content{
  --background: #fff url('../../../assets/quizzes/quizz-bg.jpg') no-repeat center center / 100%;
}
.quiz-clouds{
  width: 150px
}
.bottom-part {
  width: 100%;
  height: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 3%;
}
.children-image{
  width: 150px
}
.quiz-monsters{
  width: 100px;

  &.locked{
    filter: blur(6px);
    -webkit-filter: blur(6px);
  }
  .quiz-title{
    text-align: center;
    color: #000;
    font-weight: bold;
  }

  ion-img{
    height: 100%;
  }
}

.exit-door{
  margin-left: 15px;
  width: 40px;
}


.explosion {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
