<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sight Words
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      <ion-card col="6" *ngFor="let book of books" (click)="clickOnSightWordsBook(book)">
          <ion-card-content>
              <ion-img [src]="book.picture_path ? appParams.makeStaticUrl(book.picture_path) : appParams.noImagePng()"></ion-img>
          </ion-card-content>
          <ion-card-header>
              <ion-card-title class="text-center">{{ book.title }}</ion-card-title>
          </ion-card-header>
      </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
