.fundamental-slider-item{
  width: 90%;
}
.fundamental-slider-word{
  text-transform: lowercase;
  font-size: 30px;
}
.slider {
  height: 100%;
}
.fundamental-slider-sentence{
  font-size: 22px;
}
.science-word{
  border-bottom: 2px solid #000;
  padding-bottom: 3px;
}
