<ion-header>
  <ion-toolbar>
    <ion-title>
      Book Details
    </ion-title>
    <ion-buttons class="modal-close-button" (click)="dismiss()" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="card" *ngIf="book">
    <div class="card-header">
      <h4 class="text-center mt-3">{{ book.title }}</h4>
    </div>
    <div class="card-body">
      <div>
        <ion-img [src]="currentActiveImageSource"></ion-img>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="mt-2 book-thumbnail"
             *ngIf="book.picture_path"
             [ngClass]="{'active': currentActiveImageSource == appParams.makeStaticUrl(book.picture_path)}"
             (click)="currentActiveImageSource = appParams.makeStaticUrl(book.picture_path)"
        >
          <ion-img [src]="appParams.makeStaticUrl(book.picture_path)"></ion-img>
        </div>
        <div *ngFor="let image of book.preview_images" class="mt-2 book-thumbnail"
             [ngClass]="{'active': currentActiveImageSource == appParams.makeStaticUrl(image.picture_path)}"
             (click)="currentActiveImageSource = appParams.makeStaticUrl(image.picture_path)"
        >
          <ion-img [src]="appParams.makeStaticUrl(image.picture_path)"></ion-img>
        </div>
      </div>
    </div>
    <div class="card-footer">
      {{ book.summary }}
    </div>
  </div>
</ion-content>
