<ion-app>
  <ion-split-pane>
    <ion-menu *ngIf="loggedIn" (ionWillOpen)="getStudents()" [swipeGesture]="studentsScrolling">
      <ion-header>
        <ion-toolbar>
          <div class="student-selection-list ml-2 mr-2" *ngIf="students.length; else noStudent" (touchstart)="studentsScrollFunc(false)" (touchend)="studentsScrollFunc(true)">
            <div class="student-selection mr-1" [ngClass]="{'active': stu.id == appParams.getDataFromStorage('student')}" (click)="chooseStudent(stu)" *ngFor="let stu of students" [ngStyle]="{'background-image': 'url(' + (!!stu.main_image ? appParams.makeStaticUrl(stu.main_image.path) : appParams.avatar()) + ')'}"></div>
          </div>
          <ng-template #noStudent>
            <div class="w-100 text-center">Loading...</div>
          </ng-template>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item  [routerDirection]="'root'" *ngFor="let p of appPages" routerLink="{{p.url}}" class="side-menu-item" routerLinkActive="active" >
              <ion-icon slot="start" class="item-icon" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main>
      <app-tabs [loggedIn]="loggedIn"></app-tabs>
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>
