.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.lesson-item{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.lesson-title-date {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size: 22px;
}
.lesson-date{
  font-size: 18px;
}
