.scope{
  position: absolute;
  top: 10px;
  left: 0;
}
.result-content{
  background: #FBF7E6!important;;
}
.complete-background {
  background: url("../../../../assets/images/quiz_complite_background.png");
}
