<ion-header>
  <ion-toolbar>
    <ion-title>
      Word Details
    </ion-title>
    <ion-buttons class="modal-close-button" (click)="dismiss()" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card" *ngIf="word; else noData">
    <div class="card-header text-center">
      <h5>{{ word.word.word }}</h5>
      <span class="text-muted mr-3">{{ word.word.types.title }}</span>
      <span class="text-muted">{{ word.created_at | date: 'dd/MM/yyy' }}</span>
    </div>
    <div class="card-content">
      <ion-img [src]="word.word.picture_path ? appParams.makeStaticUrl(word.word.picture_path) : appParams.noImagePng()"></ion-img>
    </div>
    <div class="card-footer" *ngIf="word.word.meaning || word.word.example_sentence">
      <div class="d-flex justify-content-between" *ngIf="word.word.meaning">
        <div class="font-weight-bold mr-3" style="font-size: 20px">Meaning</div>
        <div class="font-italic">{{ word.word.meaning }}</div>
      </div>
      <div class="d-flex justify-content-between mt-3" *ngIf="word.word.example_sentence">
        <div class="font-weight-bold mr-3"  style="font-size: 20px">Example</div>
        <div class="font-italic">{{ word.word.example_sentence }}</div>
      </div>
    </div>
  </div>
  <ng-template #noData>
    <div class="d-flex justify-content-center align-items-center w-100 no-data-available">
      <small class="text-muted">No data available!</small>
    </div>
  </ng-template>
</ion-content>
